/* Стили для чата */
#chat {
    width: 500px;
    margin: 0 auto;
}

#messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
}

#message-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#message-input {
    flex-grow: 1;
    margin-right: 10px;
}

#send-button {
    height: 30px;
}
